html, body {
    /* to make container's height to full screen height */
    /* height: 100%;  */
    /* to remove scroll */
    /* overflow-y: auto; */
    /* overflow: none; */

    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

#headerContainer {
    /* position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    margin: auto;
    border: 1px solid blueviolet;
    background-color: rgb(224, 215, 202);
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%; */
    /* margin-bottom: 3%; */
    position: fixed;
    left: 0;
    top: 0;
    /* right = 0 -> helps to center the footer */
    right: 0px;
    margin: auto;
    width: 100%;
    background-color: rgb(224, 215, 202);
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    border: 1px none green;
    z-index: 1;
}

#mainContainer {
    position: fixed;
    width: 50%;
    left: 0;
    right: 0;
    top: 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px none red;
    background-color: rgb(224, 215, 202);
    padding: 1%;
    height: 100%;
    z-index: 0;
}

#mainContainer #firstBody {
    position:relative;
    width: 70%;
    margin: auto;
    border: 1px solid black;
    background-color: rgb(222, 184, 135);
    padding: 3%;
    height: auto;
    /* margin-top: 25%; */
    top: 15%;
    overflow-y: auto;
}

#footerContainer {
    position: fixed;
    left: 0;
    bottom: 0;
    /* right = 0 -> helps to center the footer */
    right: 0px;
    margin: auto;
    width: 100%;
    background-color: rgb(224, 215, 202);
    text-align: center;
    padding: 1%;
    border: 1px none green;
    z-index: 1;
}

#horiLine1 {
    width: 70%;
    margin-bottom: 5%;
}

.row.bottom-gap {
    margin-bottom: 3%;
}

#headerContainer #firstHeader .navbar img {
    margin-right: 10%;
}

input {
    text-align: center;
    display: block;
}

#boxGroup {
    /* background-color:  #a49693; */
    border: 1px solid blanchedalmond;
    padding: 3%;
}

#navItems {
    /* border: 1px solid black; */
    margin-right: 5%;
}

#nameSpan:hover {
    cursor: default;
    text-decoration: underline;
    color: cornflowerblue;
}

#earlyLink {
    text-decoration: none;
}

#earlyLink:hover {
    text-decoration: underline;
}

#headerContainer #profilerImg {
    max-width: 50px;
    max-height: 50px;
    width: 50px;
    height: 50px;
    transition: ease-in transform .2s; /* Animation */
}

#profilerImg:hover {
    transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* -----media queries----- */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    html, body {
        font-size: smaller;
    }

    #headerContainer {
        height: 70px;
    }

    #headerContainer #profilerImg {
        max-width: 40px;
        max-height: 40px;
        width: 40px;
        height: 40px;
        transition: ease-in transform .2s; /* Animation */
    }

    #mainContainer #firstBody {
        height: 80%;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    html, body {
        font-size: smaller;
    }

    #mainContainer #firstBody {
        height: 75%;
    }

    #headerContainer #profilerImg {
        max-width: 50px;
        max-height: 50px;
        width: 50px;
        height: 50px;
        transition: ease-in transform .2s; /* Animation */
    }
}

